<h3 class="mb-3">{{ .Title }}</h3>
<div class="resume-item d-flex flex-column flex-md-row mb-3">
  <div class="resume-content " style="width:200px !important;">
    {{ with.Params.image }}
    <img src="{{ . }}" style="max-height:150px;max-width:150px;" />
    {{ end }}
  </div>
  <div class="resume-date">
    <p>{{ .Description | safeHTML }}</p>
    <p></p>
    <p class><a href="{{.Permalink}}">Read more</a></p>
    <div class="code-btns">
      {{ with.Params.Code }}
      <a class="primary-button" href="{{ . }}">View Code</a>
      {{ end }}
      {{ with.Params.Link }}
      <a class="primary-button" href="{{ . }}">View Live Project</a>
      {{ end }}
    </div>
  </div>
</div>
<div>{{ partial "techtags" . }}</div>
